{% extends "base.html" %}
{% block section %} - {{voting.voting_title}}{% endblock section %}

{% block content %}
<script>
    function checkBlanks(){
        const classes = [{% for option in voting.vote_options.keys %}"option_{{option}}"{% if not forloop.last %}, {%endif%}{%endfor%}]
        let done = [];
        for(let qlass of classes){
            done.push(false);
        }
        console.log(done)
        for(let [index, qlass] of classes.entries()){
            let checked = false;
            for (let element of document.getElementsByClassName(qlass)){
                if (element.checked){
                    checked = true;
                    break;
                }
            }
            done[index] = checked;
        }

        if(done.every(x=>x)){
            document.getElementById('submit').style.display = 'block';
            document.getElementById('alert').style.display = 'none';
        } else {
            document.getElementById('submit').style.display = 'none';
            document.getElementById('alert').style.display = 'block';
        }
    }

    function clearMatrixLine(el){
        var input = el.parentNode.parentNode.getElementsByTagName('input');
        for (var i=0; i<input.length; i++) {
            if (input[i].checked === true)
                input[i].checked = false;
        }
        el.checked = true;
        //checkBlanks();
    }
</script>
<form method="POST"  onSubmit="return confirm('Confermi l\'invio del voto?')">
    {% csrf_token%}
    
          <h1>{{voting.voting_title}}</h1>
          <!--<a href="{{voting.presentation_file}}" target="_blank">Qui</a> trovate le presentazioni dei candidati-->
    <table class="table">
        {%if voting.mode == 4 %}
            <tr>
                <td></td>
                {% for option in voting.vote_options.values %}
                    <td style="text-align:center;">{{option}}</td>
                {% endfor%}
            </tr>
        {%endif%}
        {%for candidate in voting.candidates%}
        <tr>
            <td>{{candidate.name}}</td>
            {% if voting.mode == 1 %}
            {% elif voting.mode == 2 %}
            {% elif voting.mode == 3 %}
            {% elif voting.mode == 4 %}
                {% for option in voting.vote_options.keys %}
                    {% include 'vote/matrix.html' %}
                {% endfor %}
            {% endif %}
        </tr>
        {%endfor%}
    </table>
    <div id="alert" class="alert alert-danger" style="display:none" role="alert" >
        E' necessario esprimere un voto per ogni categoria.
      </div>
    <button id="submit" type="submit" class="btn btn-primary" >Vota</button>
</form>

{% endblock content %}
